h1{
	font-size: 26px;
	color: 9ca69f;
	font-family: Ariel;
	font-weight: 700;
}
h2{
	font-size: 20px;
	color: red;
	font-family: Verdana;
	font-weight: 400;
}
h3{
	font-size: 13px;
	font-family: Arial;
	color: gray;	
}